footer {
  background: var(--color-dark);
  padding-top: 3rem;
  transition: var(--transition);
  color: white;
}

footer .nav__menu {
  justify-content: center;
}

.footer__socials {
  width: fit-content;
  display: flex;
  gap: 1.5rem;
  margin: 3rem auto 4rem;
}

.footer__socials a {
  background: var(--color-white);
  color: var(--color-dark);
  padding: 0.4rem;
  border-radius: 5px;
}

.footer__socials a:hover {
  opacity: 0.7;
  transform: translateY(-0.5rem);
}

.footer__copyright {
  color: var(--color-white);
  text-align: center;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  padding: 1.5rem 0;
}

@media (max-width: 1024px) {
  footer .nav__menu {
    display: flex;
  }
}

@media (max-width: 400px) {
  footer .nav__menu {
    display: none;
  }
}